.header {
    text-align:center;
    border: 2px solid black;
    padding: 5px;
    width: 20px;
}

.hidden {
    display: none;
}

.footer {
    text-align:center;
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 70px;
    margin-left: -20px;
    border-top: 2px solid #000;
}

.icons {
    margin-top: 20px;
}

.login-page {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 40px;
}

.authMessage {
    position: absolute;
    z-index: 4;
}

.nav {
    border-bottom: none;
}

.nav li a:focus {
    border: none;
}

.form-group {
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 0px;
}

form {
    margin-top: 0px;
}

/*.activeTab {*/
    /*background-color: #eee;*/
    /*text-decoration: none;*/
    /*border-bottom: 2px solid black !important;*/
/*}*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a {
    background-color: transparent;
    border: none;
}

.sidenav a:hover {
    background-color: transparent;
}

.sidenav a:focus {
    background-color: transparent;
    color: #818181;
}

.sidenav a:visited {
    background-color: transparent;
}

.openMenu {
}

.openMenu:hover {
    cursor: pointer;
}

.menuIcon {
    margin-top: 25px;
}

.titleText {
    margin-bottom: -20px;
}

.bodyText {
    padding-left: 8px;
}

.contentBlock {
    padding: 10px;
}

.borderBox {
    border: 2px solid black;
    padding: 10px;
    width: 250px;
}

.content {
    margin-left: -10px;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 20px;
    color: black;
}

.closeButton:hover {
    text-decoration: none;
    cursor: pointer;
}

.authMessage {
    position: absolute;
    text-align: center;
    top: 30px;
    left:50% !important;
    margin-left: -115px;
    /*background-color: #e0e0e0;*/
    /*border: 0.5px solid black;*/
    /*color: black;*/
}
