<div>  

    <div ng-show="user.isSignedIn">
        <p>You are now signed in. Welcome {{currentUser}} </p>
        <button ng-click="signOut()">Press here to sign out</button>
    </div>

    <div ng-hide="user.isSignedIn">
        <div>
            <p>{{authError}}</p>
        </div>
        <form ng-submit="verifyUser()" unvalidate>  <h3>Sign in here.</h3>  
            <div class="form-group">  <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required> 
            </div>
            <div class="form-group">  <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required> 
            </div>
            <div class="form-group"> 
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>
          
        <form ng-submit="createUser()"> 
            <h3>Don't have an account?</h3>  
            <div class="form-group"> 
                <input type="text" class="form-control" placeholder="Create Username" ng-model="user.newUsername" required> 
            </div>
            <div class="form-group"> 
                <input type="password" class="form-control" placeholder="Create Password" ng-model="user.newPassword" required> 
            </div>
            <div class="form-group"> 
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div> 
        </form>
    </div>
</div>
